@import "scss/mixins";

.callback {
  height: 0;
  background-color: $form-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.callback-form {
  background-color: $form-bg-color;
  max-width: 90%;

  @include media-breakpoint-up(md) {
    max-width: 30rem;
  }
}

.callback-form__title {
  @include sectionTitle();
  font-size: $h5-font-size;
  margin-top: 1rem;
  padding: 0 .5rem;
}

.callback-form__data {
  small {
    color: $green;
  }
}