@import "scss/mixins";
.causes {
  color: $main-txt-color;
  background: url("/img/main/causes-bg-big.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.causes__container {
  position: relative;
  margin-bottom: 0;
}

.causes__title {
  @include sectionTitle();
}

.causes__subtitle {
  @include sectionSubtitle();
  color: white;
}

.causes__list {
  margin: 0;
}

.causes__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.causes__item:last-child {
  margin-bottom: 0;
  padding-bottom: 3rem;
}

.causes__text {
  display: flex;
}

.causes__img {
  display: block;
  height: 1rem;
  width: 1rem;
  margin-top: .3rem;

  @include media-breakpoint-up(md) {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 0;
  }
}

.causes__text-title {
  @include sectionTitle();
  text-align: left;
  font-size: $h4-font-size;
  line-height: 1;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.causes__text-subtitle {
  @include sectionSubtitle();
  text-align: center;
  color: white;
  max-width: 45rem;
  font-size: $h5-font-size;
  align-self: center;

  @include media-breakpoint-up(md) {
    text-align: left;  
    align-self: flex-start;
  }
}

.causes__img-big {
  position: absolute;
  bottom: 0;
  right: -15rem;
}