@mixin button($height) {
  background-color: $green;
  color: white;
  height: $height;
  border-radius: $height / 2;
  padding-left: $height - 1;
  padding-right: $height - 1;
}

@mixin sectionTitle() {
  font-size: $h3-font-size;
  color: $green;
  font-weight: $font-weight-bold;
  text-align: center;
  margin-bottom: 0;
}

@mixin sectionSubtitle() {
  font-size: $h4-font-size;
  text-align: center;
  color: $main-txt-color;
  margin-bottom: 0;
}