@import "scss/mixins";

.causes {

  &.causes-main {
    padding: 3rem 0 0 0;
  
    @include media-breakpoint-up(lg) {
      padding-top: 7rem;
    }
  }
  
  &.pest-hidden {
    @include media-breakpoint-up(lg) {
      margin-top: 3rem;
      padding-top: 3rem;
    }
  }
}