@import "scss/mixins";

.pricing {
  color: $main-txt-color;
  margin-top: 2rem;
}

.pricing__content-wrapper {
  background-color: $bg-gray;
  padding-top: 2rem;
  padding-bottom: 4rem;
  position: relative;
}

.pricing__title {
  @include sectionTitle();
}

.pricing__text {
  text-align: center;
  color: $main-txt-color;
  font-size: $h5-font-size;
  margin: 0 0 2rem 0;
  padding: 0 2rem;
}

.pricing__table-wrapper {
  padding: 0 1rem;  
}

.pricing__cell {
  text-align: center;
  font-size: $h6-font-size;

  @include media-breakpoint-up(md) {
    text-align: left;
  }
}

.pricing__row {
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin: 0;
}

.pricing__row:nth-child(odd) {
  background-color: white;
}

.pricing__cell-price {
  font-weight: $font-weight-bold;
  text-align: center;
}

.pricing__row-head {
  background-color: $main-txt-color !important;
  color: white;
  
  .pricing__cell-price {
    font-weight: $font-weight-normal;
  }
}

.pricing__table {
  background-color: white;
}

.pricing__table-cell {
  vertical-align: middle !important;
  text-align: center;
  border: 1px solid $main-txt-color !important;
}

.pricing__btn {
  @include button(4rem);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -2rem;
  font-size: $h5-font-size;
}