@import "source/bootstrap";

$main-txt-color : #235771;
$bg-gray        : #f7f8fa;

@mixin button($height) {
  background-color: $green;
  color: white;
  height: $height;
  border-radius: $height / 2;
}

.navigation__logo-img {
  max-width: 100%; 
  height: auto;
}

.phone__text {
  color: $main-txt-color;

  @include media-breakpoint-up(sm) {

  }
}

.navigation__contacts {
  margin: auto;

  @include media-breakpoint-up(md) {
    margin-right: 0;
  }
}

.navigation__brand {
  margin: auto;

  @include media-breakpoint-up(md) {
    margin-left: 0;
  }
}

.navigation__btn {
  font-size: 45%;
  border-radius: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: 50%;
  }

  @include media-breakpoint-up(md) {
    font-size: 70%;
  }

  @include media-breakpoint-up(lg) {
    font-size: 100%;
  }
}

.main-carousel__slide {
  height: 25rem;

  @include media-breakpoint-up(md) {
    height: 35rem;
  }

  @include media-breakpoint-up(lg) {
    height: 70vh;
  }  
}

.main-carousel__indicators {
  border: 1px solid white;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
  width: 14rem;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  bottom: 1rem;

  @include media-breakpoint-up(md) {
    bottom: 3rem;
    transform: translateX(-25%);
    left: 25%;
    height: 3rem;
    width: 16rem;
    border-radius: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    bottom: 5rem;
  }

  .main-carousel__indicator {
    height: 80%;
    width: 46%;
    padding: 0;
    margin: 0;
    color: white;
    text-indent: 0;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

    @include media-breakpoint-up(md) {
      border-radius: 1.5rem;
    }

    &.active {
      background-color: $green;
    }
  }
}

.main-carousel__text {
  top: 1rem;
  width: 100%;
  padding-top: 1rem;
  color: white;
  text-align: center;
  font-weight: $font-weight-bold;
  font-size: $h5-font-size;

  @include media-breakpoint-up(md) {
    padding-top: 5rem;
    text-align: left;
    width: 75%;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 5rem;
    text-align: left;
    width: 65%;
  }
}

.main-carousel__title {
  font-size: $h4-font-size;

  @include media-breakpoint-up(md) {
    font-size: $h2-font-size;
  }

  @include media-breakpoint-up(lg) {
    font-size: $h1-font-size;
  }
}

.main-carousel__subtitle {
  @include media-breakpoint-up(md) {
    width: 80%;
    font-size: $h3-font-size;
  }

  @include media-breakpoint-up(lg) {
    font-size: $h2-font-size;
  }
}

.main-carousel__slide:nth-child(1) {
  background: url("img/main-individ-sm.jpg") no-repeat center;
  background-size: cover;

  @include media-breakpoint-up(md) {
    background-image: url("img/main-individ-lg.jpg");
  }
}

.main-carousel__slide:nth-child(2) {
  background: url("img/main-entity-sm.jpg") no-repeat center;
  background-size: cover;

  @include media-breakpoint-up(md) {
    background-image: url("img/main-entity-lg.jpg");
  }

  .main-carousel__title {
    font-size: $h5-font-size;

    @include media-breakpoint-up(md) {
      font-size: $h3-font-size;
    }

    @include media-breakpoint-up(lg) {
      font-size: $h2-font-size;
    }
  }

  .main-carousel__subtitle {
    @include media-breakpoint-up(lg) {
      font-size: $h3-font-size;
    }
  }
}

.directions {
  background-color: $bg-gray;
  color: $main-txt-color;
  padding-top: 3rem;
}

.directions__text {
  font-size: $h4-font-size;
  text-align: center;
  margin-bottom: 4rem;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.small-divider {
  width: 10%;
  height: 3px;
  background-color: $green;
  margin: 0 auto 2rem auto;
}

.directions__btn {
  @include button(3rem);

  width: 12rem;
  font-size: $h6-font-size;


  @include media-breakpoint-up(sm) {
    @include button(4rem);

    width: 15rem;
    font-size: $h5-font-size;
  } 
}

.directions__title {
  font-size: $h3-font-size;
  color: $green;
  font-weight: $font-weight-bold;
  text-align: center;
}

.directions__subtitle {
  font-size: $h5-font-size;
  text-align: center;
}



.directions-carousel__title {
  padding: 1rem 0;
  font-weight: $font-weight-bold;
}

.directions-carousel__text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: $h5-font-size;
}

.directions-carousel__image {
  display: block;
  margin: 1rem auto;
  height: 5rem;
}

.directions-carousel__item {
  background-color: $bg-gray;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  
  .shadow-sm {
    background-color: white;
    padding: 0 .8rem .8rem .8rem;
    height: 34rem;
  }
}

.directions-carousel__table {
  margin: 0;

  td {
    text-align: center;
  }
}

.directions-carousel__control {
  height: 2rem;
  width: 2rem;
  top: 4rem;

  &.carousel-control-prev {
    left: 15%;
    opacity: 1;

    @include media-breakpoint-up(sm) {
      left: 20%;
    }
  }

  &.carousel-control-next {
    right: 15%;
    opacity: 1;

    @include media-breakpoint-up(sm) {
      right: 20%;
    }
  }
}

.directions__table {
  td {
    text-align: center;
  }
}

.directions__img {
  display: block;
  margin: 2rem auto 0 auto;
  height: 5.5rem;
}

.directions__card-title {
  text-align: center;
  font-size: $h4-font-size;
  font-weight: $font-weight-bold;
  height: 5rem;
}