@import "source/bootstrap";
@import "source/navigation";
@import "source/main-carousel";
@import "source/directions";
@import "source/small-divider";
@import "source/mobile-carousel";
@import "source/equipment";
@import "source/assistance";
@import "source/pricing";
@import "source/work-scheme";
@import "source/causes";
@import "source/pest";
@import "source/footer";
@import "source/mixins";

.divider {
  width: 100%;
  height: 1px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}