// common styles
@import "scss/bootstrap";
@import "scss/mixins";
@import "scss/variables";
@import "scss/footer";
@import "scss/navigation";
@import "scss/callback-form";
@import "scss/small-divider";
@import "scss/mobile-carousel";
@import "scss/scheme";
@import "scss/causes";
@import "scss/reviews";

// styles
@import "source/main-carousel";
@import "source/directions";
@import "source/equipment";
@import "source/assistance";
@import "source/pricing";
@import "source/pest";
@import "source/modal-form";
@import "source/causes-main";

.divider {
  width: 100%;
  height: 1px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
